body {
  background:  #222;
  color: white;
}


img {
  max-width: 100%;
}
/* Code Under This Line */
div{
  margin: auto;
}
.a {
  height: 100px;
  width: 350px;
  background-color: #FFED5D;
  /*margin:middle;*/

}
.b {
  height: 80px;
  width: 325px;
  background-color: #FF7050;
  margin: auto;
}
.c {
  height: 60px;
  width: 300px;
  background-color: #222

}
.d {
  height: 35px;
  width:275px;
  background-color: #7BBADE
}
/*
  Colors:
  #FFED5D
  #FF7050
  #222
  #7BBADE
*/
